@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: url("../../public/inspiration-geometry-1920x1080.png");
  background-repeat: repeat;
  backdrop-filter: blur(1px);
  background-color: white;
}

/*=== Globally available CSS ===*/
.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1400px;
}

.deem {
  color: #cfcfcf;
  font-weight: bold;
}

#contact {
  background-color: white;
  padding: 2rem 0;
  border-radius: 0.4rem;
}

@keyframes spinSlow {
  0% {
    rotate: 0deg;
  }

  10% {
    rotate: 90deg;
  }

  50% {
    rotate: 200deg;
  }

  70% {
    rotate: 360deg;
  }

  100% {
    rotate: 0deg;
  }
}

@keyframes bumping {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(-7px);
  }

  50% {
    transform: translateY(2px);
  }

  70% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bumpingSkew {
  0% {
    transform: translateY(0);
    transform: skewY(0);
  }

  10% {
    transform: translateY(-7px);
    transform: skewY(-0.01turn);
  }

  50% {
    transform: translateY(2px);
    transform: skewY(-0.06turn);
  }

  70% {
    transform: translateY(-5px);
    transform: skewY(-0.02turn);
  }

  100% {
    transform: translateY(0);
    transform: skewY(0);
  }
}

@media screen and (max-width: 999.9px) {
  body {
    backdrop-filter: blur(0);
  }
  .container {
    width: 94%;
  }
}
