@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/*=== Globally available CSS ===*/
.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1400px;
}

#contact {
  background-color: white;
  padding: 2rem 0;
  border-radius: 0.4rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
}
