.title {
  display: flow-root;
  position: relative;
  text-align: center;
  min-width: 100px;
  margin: 80px auto 0 auto;
  font-size: 2.5rem;
  font-weight: 700;
  color: #303336;
  text-transform: uppercase;
}

.title::after {
  position: absolute;
  content: "";
  display: inline-block;
  border-bottom: 2px dashed rgba(255, 77, 48, 0.5);
  min-width: 200px;
  bottom: -0.5rem;
  right: calc(50% - 100px);
}

.title::before {
  position: absolute;
  content: "";
  display: inline-block;
  border-bottom: 2px dashed rgba(255, 77, 48, 0.5);
  min-width: 200px;
  top: -0.5rem;
  right: calc(50% - 100px);
}

.footer {
  text-align: center;
  padding: 0.5rem 0 1rem;
  color: #303336;
  font-size: 0.85rem;
  background-color: rgba(48, 51, 54, 0.05);
}

.footer a {
  color: #1b1b1b;
  text-decoration: underline;
}
