.container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 120px;
  align-items: center;
  margin-bottom: 320px;
}

.txt_container {
  width: auto;
  max-width: 600px;
  font-size: 1.5rem;
}

.h1_heading {
  color: #2a2b2c;
  font-size: 2.75rem;
  font-weight: 900;
  filter: drop-shadow(0 1mm 1mm rgba(70, 70, 70, 0.25));
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}

.social_links {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  margin: 1rem 0;
}

.img_container {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.img_container i {
  display: inline-flex;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  filter: drop-shadow(0 1mm 1mm rgba(0, 0, 0, 0.25));
  font-size: 1.5rem;
  background-color: aquamarine;
  color: #455445;
}

.img_container img {
  filter: drop-shadow(0 1mm 1mm rgba(0, 0, 0, 0.25));
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.img_elements {
  position: absolute;
  width: 80px;
  height: 80px;
  z-index: 99;
  filter: drop-shadow(0 1mm 1mm rgba(47, 141, 208, 0.55));
  border-radius: 50%;
}

.first_container {
  position: relative;
}

.second_container {
  border-radius: 40px;
  border: 0.2rem dashed rgba(42, 43, 44, 0.07);
  padding: 2rem 1.5rem;
  padding-left: 2.5rem;
  margin-left: 1rem;
}

.second_container h1 {
  font-size: 2.75rem;
  font-weight: 700;
}

.my_image {
  display: inline-block;
  object-fit: cover;
  max-width: 100%;
  width: 420px;
  filter: drop-shadow(0 3mm 3mm rgba(0, 0, 0, 0.5));
  padding: 0.5rem;
  border: 0.2rem dashed rgba(0, 0, 0, 0.07);
  border-radius: 120px;
  z-index: 1;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 2rem;
  background-color: #ff4d30;
  color: white;
  border-radius: 0.35rem;
  text-transform: capitalize;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.25s ease-in;
  filter: drop-shadow(0 1mm 1mm rgba(29, 161, 242, 0));
}

.btn:hover {
  filter: drop-shadow(0 2mm 3mm rgba(233, 83, 60, 0.3));
  background-color: #e9533c;
}

.btn_holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 2.5rem auto 1rem;
}

@media screen and (max-width: 1099.99px) {
  .container {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 999.99px) {
  .container {
    flex-direction: column;
  }

  .second_container {
    text-align: center;
    padding-left: 1.5rem;
  }

  .img_container {
    justify-content: center;
    gap: 1.25rem;
    margin-bottom: 1rem;
  }
  .txt_container {
    width: 70%;
    margin: auto;
  }
}

@media screen and (max-width: 499.99px) {
  .container {
    flex-direction: column;
    margin-top: 2.5rem;
    margin-bottom: 0;
  }

  .h1_heading {
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .img_elements {
    width: 40px;
    height: 40px;
  }

  .second_container {
    margin-left: 0;
    margin-top: 1.25rem;
    border: 0;
  }

  .second_container h1 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  .second_container > i {
    font-size: 14px;
  }

  .btn_holder {
    flex-direction: column;
    gap: 0.75rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .txt_container {
    width: 100%;
    padding: auto 0.25rem;
    font-size: 16px;
    margin: auto;
  }

  .social_links {
    display: flex;
    margin-top: -1.75rem;
    margin-bottom: 0;
  }

  .my_image {
    max-width: 250px;
    object-fit: cover;
    margin-bottom: 1rem;
  }
}
