.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.075);
  background-color: white;
  z-index: 999;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem 0;
}

.left_part > ul {
  display: flex;
}

.left_part > ul > li {
  list-style: none;
  margin-right: 20px;
  font-weight: 600;
  font-size: 1rem;
  color: #202126;
  cursor: pointer;
}

.right_part {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0 0.85rem;
}

.right_part a {
  cursor: pointer;
}

.right_part img,
.icon_img {
  width: 1.75rem;
  height: 1.75rem;
  background-color: transparent;
}

@media screen and (max-width: 499.99px) {
  .nav_container {
    justify-content: center;
  }
  .left_part > ul {
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    margin: 0 auto;
  }

  .left_part > ul > li {
    margin: 0;
    font-weight: 600;
    font-size: 0.95rem;
  }

  .socialImg {
    margin-right: 20px;
    width: 30px;
    height: 30px;
  }

  .right_part {
    display: none;
    width: 0;
  }
}
